ion-icon {
  color: #212529;
  text-decoration: none;
}

.splash-section {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  animation: splashClosed 1s ease-in-out 4s forwards;
}

@keyframes splashClosed {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

a {
  text-decoration: none;
}

a:hover {
  color: inherit;
}

.splash-section .logo {
  animation: fadeInFromZero 0.95s ease-in-out forwards;
}

.line {
  background-color: #404040;
  height: 0.15rem;
  margin: 0 0.75rem;
}

div.line,
.splash-section .logo ~ div.line {
  animation: lineExtend 2s ease-in-out 0.75s forwards;
}

@keyframes lineExtend {
  0% {
    width: 0;
    opacity: 0;
  }
  100% {
    width: 30%;
    opacity: 100;
  }
}

@keyframes fadeInFromZero {
  0% {
    opacity: 0;
    width: 0;
    height: 0;
  }
  100% {
    opacity: 1;
    width: 10%; /* Set the final width you desire */
    height: 10%; /* Set the final height you desire */
  }
}

.aboutText {
  margin: auto;
  width: 70%;
  padding-top: calc(1rem + (16 - 8) * ((100vw - 320px) / (2560 - 320)));
}

.aboutText span {
  opacity: 0;
  animation: wordSpreadOpacity 4s cubic-bezier(0.73, 0.08, 0.56, 0.84) 1.5s
    forwards;
}

@keyframes wordSpreadOpacity {
  0% {
    opacity: 0;
    letter-spacing: 0;
  }
  45% {
    letter-spacing: calc(0.15rem + (12 - 8) * ((100vw - 320px) / (2560 - 320)));
  }
  50% {
    opacity: 1;
    letter-spacing: calc(0.15rem + (12 - 8) * ((100vw - 320px) / (2560 - 320)));
  }
  100% {
    opacity: 1;
    letter-spacing: calc(0.15rem + (12 - 8) * ((100vw - 320px) / (2560 - 320)));
  }
}

#selectionMenu {
  height: 0;
  overflow: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: expandAnimation 1.5s ease 1s forwards;
}

@keyframes expandAnimation {
  0% {
    height: 0;
  }
  100% {
    height: 90vh;
  }
}

.menu {
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  overflow: hidden;
}

.menuHolder {
  position: relative;
  height: 100vh;
  padding: 0 0.25rem;
  overflow: hidden;
}

.bg-img {
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 50%;
}

.menuHolder h4 {
  position: absolute;
  top: 50%;
  font-size: 6rem;
  font-weight: 900;
  padding: 1rem 2rem;
  background-color: rgba(33, 37, 41, 0.432);
  z-index: 1;
}

.bg-img-UIUX {
  background-image: url(./pic/wander/MacBook\ Pro\ &\ iPhone\ 12\ Pro.png);
}

.bg-img-Video {
  background-image: url(./pic/video/Donut.jpg);
}

.bg-img-Others {
  background-image: url(./pic/video/Donut.jpg);
}

/* NAVBAR */
.logo {
  width: 3rem;
}
.navbar-toggler {
  border: transparent;
}
.navbar-toggler:focus {
  box-shadow: none;
}

.nav-item {
  border-bottom: 2px solid transparent;
}

.navItemCurrent {
  width: 0%;
  border-bottom: 2px solid #404040;
  margin: 0 auto;
  transition: 0.5s ease-out 0.15s;
}

.nav-item:hover .navItemCurrent {
  width: 60%;
}

/* uiux */
#uiux {
  height: 100vh;
  overflow: hidden;
}

.prototypeBtn {
  display: inline-block;
  color: #fff;
  background-color: #212529;
  border: 1px solid #212529;
  font-weight: 700;
  text-align: center;
  padding: 0.75rem 1.25rem;
  cursor: pointer;
  margin-top: 0.5rem;
  transition: 0.25s;
}
.prototypeBtn:hover {
  color: black;
  background-color: white;
}

.BackHomeBtn {
  display: inline-block;
  text-align: center;
  margin: 1rem;
  padding: 0.75rem 1.25rem;
  color: white;
  background-color: #212529;
  border: 1px solid #212529;
  transition: 0.25s;
}

.BackHomeBtn:hover {
  background-color: #fff;
  color: #212529;
}

.slideImg {
  width: 100%;
  height: 100%;
}

.slideImg::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.85);
}

.slideImg1 {
  background-image: url(./pic/workout/workoutCover.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.uiuxCard-body {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translate(-5%, -50%);
  width: 100%;
  display: flex;
  align-items: flex-start;
}

.uiuxCard-title {
  font-size: 14vw;
  font-weight: 900;
  color: black;
}

.uiuxCard-subtitle {
  margin-left: 1vw;
  font-size: 4vw;
  font-weight: 700;
  color: black;
}

.linkBtn {
  border: 0.5vw solid #000;
  border-radius: 50%;
  width: 25vw;
  height: 25vw;
  margin-top: 8vw;
  margin-left: -4vw;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  font-weight: 400;
  font-size: 4vw;
}

@media (min-width: 768px) {
  .slideImg_1 {
    background-position: 0% 50%;
  }
  .uiuxCard-body {
    flex-direction: row;
    left: 10%;
  }
  .uiuxCard-title {
    font-size: 12vw;
  }
  .linkBtn {
    border: 0.25vw solid #000;
    width: 14vw;
    height: 14vw;
    font-size: 3vw;
    margin-top: 9vw;
  }
}

@media (min-width: 992px) {
  .uiuxCard-title {
    font-size: 10vw;
  }

  .uiuxCard-subtitle {
    font-size: 3vw;
  }
  .linkBtn {
    margin-top: 8vw;
  }
}

/* videos */
#videos {
  margin-top: 3rem;
}

.vidCard-title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: calc(16px + (32 - 16) * ((100vw - 320px) / (2560 - 320)));
  font-weight: 900;
  color: black;
}

.vidCard {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  background-clip: border-box;
  /* border: 1px solid rgba(0, 0, 0, 0.125); */
  /* border-radius: 0.25rem; */
}

.vidCard img {
  transition: 0.25s;
}

.vidCard:hover img {
  transform: scale(110%);
}

.vidCover {
  width: 100%;
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
}
.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* email */
#email {
  margin-top: 3rem;
}
.emailInput {
  margin: 1rem 0rem;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid #212529;
}

.emailInput:focus {
  outline: 0;
}
.emailBtn {
  display: inline-block;
  color: #fff;
  background-color: #212529;
  border: 1px solid #212529;
  font-weight: 700;
  text-align: center;
  padding: 0.75rem 1.25rem;
  cursor: pointer;
  transition: 0.25s;
}

.emailBtn:hover {
  color: #212529;
  background-color: transparent;
}

/* DetailPage */

.DetailPageAbout {
  margin-top: 18%;
}

.detailTitle {
  font-size: 3.5rem;
  font-weight: 900;
}

.DetailPageAboutContext {
  font-size: 24px;
  width: 100%;
}

.DetailPageIMG {
  width: 100%;
  padding: 4rem 0rem;
}

@media (min-width: 768px) {
  .DetailPageAbout {
    margin-top: 8%;
  }
  .detailTitle {
    font-size: 6rem;
    font-weight: 900;
  }

  .DetailPageAboutContext {
    padding-top: 1rem;
  }
  .DetailPageContent {
    order: -1;
  }
  .DetailContent {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (min-width: 1440px) {
  .DetailPageAboutContext {
    width: 80%;
    padding-top: 2rem;
  }
  .Detail-content {
    flex-direction: row;
  }
}
