ion-icon {
  color: #212529;
  text-decoration: none;
}

body::-webkit-scrollbar {
  display: none;
}
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.splash-section {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  animation: splashClosed 1s ease-in-out 4s forwards;
}

@keyframes splashClosed {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

a {
  text-decoration: none;
}

a:hover {
  color: inherit;
}

.splash-section .logo {
  animation: fadeInFromZero 0.95s ease-in-out forwards;
}

.line {
  background-color: #404040;
  height: 0.25vw;
  margin: 0 0.75rem;
}

div.line,
.splash-section .logo ~ div.line {
  animation: lineExtend 2s ease-in-out 0.75s forwards;
}

@keyframes lineExtend {
  0% {
    width: 0;
    opacity: 0;
  }
  100% {
    width: 30%;
    opacity: 100;
  }
}

@keyframes fadeInFromZero {
  0% {
    opacity: 0;
    width: 0;
    height: 0;
  }
  100% {
    opacity: 1;
    width: 10%; /* Set the final width you desire */
    height: 10%; /* Set the final height you desire */
  }
}

.aboutText {
  margin: auto;
  width: 70%;
  padding-top: 1vw;
}

.aboutText span {
  font-size: 2vw;
  opacity: 0;
  animation: wordSpreadOpacity 4s cubic-bezier(0.73, 0.08, 0.56, 0.84) 1.5s
    forwards;
}

@keyframes wordSpreadOpacity {
  0% {
    opacity: 0;
    letter-spacing: 0;
  }
  45% {
    letter-spacing: calc(0.15rem + (12 - 8) * ((100vw - 320px) / (2560 - 320)));
  }
  50% {
    opacity: 1;
    letter-spacing: calc(0.15rem + (12 - 8) * ((100vw - 320px) / (2560 - 320)));
  }
  100% {
    opacity: 1;
    letter-spacing: calc(0.15rem + (12 - 8) * ((100vw - 320px) / (2560 - 320)));
  }
}

#selectionMenu {
  height: 0;
  overflow: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: expandAnimation 1.5s ease 1s forwards;
}

@keyframes expandAnimation {
  0% {
    height: 0;
  }
  100% {
    height: 90vh;
  }
}

.menu {
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
}

.menuHolder {
  position: relative;
  height: 100vh;
  padding: 0 0.25rem;
  overflow: hidden;
}

.bg-img {
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 50%;
}

.menuHolder h4 {
  position: absolute;
  top: 50%;
  font-size: 6vw;
  font-weight: 900;
  padding: 2vw 4vw;
  background-color: rgba(33, 37, 41, 0.432);
  z-index: 1;
}

.bg-img-UIUX {
  background-image: url(./pic/wander/MacBook\ Pro\ &\ iPhone\ 12\ Pro.png);
}

.bg-img-Video {
  background-image: url(./pic/video/Donut.jpg);
}

.bg-img-Others {
  background-image: url(./pic/video/Donut.jpg);
}

@media (min-width: 1400px) {
  .line {
    height: 0.1vw;
  }
  .aboutText span {
    font-size: 1vw;
  }
}

/* slides elements */
#slides {
  transition: 1s cubic-bezier(0.59, 0.1, 0.52, 0.96);
}

.BackHomeBtn {
  display: inline-block;
  text-align: center;
  margin: 1rem;
  padding: 0.75rem 1.25rem;
  color: white;
  background-color: #212529;
  border: 1px solid #212529;
  transition: 0.25s;
}

.BackHomeBtn:hover {
  background-color: #fff;
  color: #212529;
}

.slideImg {
  position: relative;
  width: 100%;
  height: 33.33vh;
}

.slideImg::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: 0.5s;
  background-color: rgba(255, 255, 255, 0.65);
}

.slideImg:hover::before {
  background-color: rgba(255, 255, 255, 0.95);
}

.cardBody {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardTitle {
  font-size: 13vw;
  font-weight: 900;
  color: black;
}

.cardSubtitle {
  margin-left: 1vw;
  font-size: 4vw;
  font-weight: 700;
  color: black;
}

@media (min-width: 768px) {
  .slideImg_1 {
    background-position: 0% 50%;
  }
  .cardBody {
    flex-direction: row;
    left: 10%;
  }
  .cardTitle {
    font-size: 12vw;
  }
}

@media (min-width: 992px) {
  .cardTitle {
    font-size: 5vw;
  }

  .cardSubtitle {
    font-size: 1.5vw;
  }
}

/* NAVBAR */
.logo {
  width: 3rem;
}
.navbar-toggler {
  border: transparent;
}
.navbar-toggler:focus {
  box-shadow: none;
}

.nav-item {
  border-bottom: 2px solid transparent;
}

.navItemCurrent {
  width: 0%;
  border-bottom: 2px solid #404040;
  margin: 0 auto;
  transition: 0.5s ease-out 0.15s;
}

.nav-item:hover .navItemCurrent {
  width: 60%;
}

/* uiux */
#uiux .slideImg1 {
  background-image: url(./pic/workout/workoutCover.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 4;
}

#uiux .slideImg2 {
  background-image: url(./pic/wander/MacBook\ Pro\ &\ iPhone\ 12\ Pro.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 3;
}

#uiux .slideImg3 {
  background-image: url(./pic/DailyUI/DailyUI\ 009-Music\ player.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 2;
}

/* videos */
#videos .slideImg1 {
  background-image: url(./pic/video/Donut.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 4;
}

#videos .slideImg2 {
  background-image: url(./pic/video/jgtruestock.PNG);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 4;
}

#videos .slideImg3 {
  background-image: url(./pic/video/farglory.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 4;
}

#videos .slideImg4 {
  background-image: url(./pic/video/OPTCPromotion.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 4;
}

#videos .slideImg5 {
  background-image: url(./pic/video/okmini.PNG);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 4;
}

#videos .slideImg6 {
  background-image: url(./pic/video/LearnignTaiwanese.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 4;
}

.vidCard-title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: calc(16px + (32 - 16) * ((100vw - 320px) / (2560 - 320)));
  font-weight: 900;
  color: black;
}

.vidCard {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  background-clip: border-box;
  /* border: 1px solid rgba(0, 0, 0, 0.125); */
  /* border-radius: 0.25rem; */
}

.vidCard img {
  transition: 0.25s;
}

.vidCard:hover img {
  transform: scale(110%);
}

.vidCover {
  width: 100%;
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
}
.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* email */
#email {
  margin-top: 3rem;
}
.emailInput {
  margin: 1rem 0rem;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid #212529;
}

.emailInput:focus {
  outline: 0;
}
.emailBtn {
  display: inline-block;
  color: #fff;
  background-color: #212529;
  border: 1px solid #212529;
  font-weight: 700;
  text-align: center;
  padding: 0.75rem 1.25rem;
  cursor: pointer;
  transition: 0.25s;
}

.emailBtn:hover {
  color: #212529;
  background-color: transparent;
}

/* DetailPage */
.detailTitle {
  font-size: 8vw;
  font-weight: 900;
}

.DetailPageAboutContext {
  font-size: 2vw;
  padding-left: 1vw;
}

.DetailPageIMG {
  width: 100%;
  padding: 4rem 0rem;
}

@media (min-width: 768px) {
  .DetailPageContent {
    order: -1;
  }
  .DetailContent {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (min-width: 992px) {
  .Detail-content {
    flex-direction: row;
  }
}
